*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background: darkblue;
	font-family: 'Helvetica', arial, sans-serif;

	font-size: 15px;
}

p{
	margin-bottom: 20px;
	line-height: 1.5em;
}
h3{
	margin-bottom: 20px;
	border-bottom: 1px solid #aaa;
}

a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #666;
}


.container{
	max-width: 1080px;
	margin: 20px auto;
	background: cornflowerblue;
	overflow: hidden;
	padding: 10px;
}


.header{
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: aqua;

}
/* flebox*/

.flex> a{
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    padding: 10px;
}


html,body{
    background-color: #ffeead;
	margin: 10px;
	padding: 10px;
}
/* background berubah didalam div 
tergantung urutan index */
.flex >a:nth-child(1){
	background: green;
	
}
.flex >a:nth-child(3){
    background: red;
}
.flex >a:nth-child(5){
    background: yellow;
}
.flex >a:nth-child(6){
    background: purple;
}

/* Main */
	.left{
		width: 250px;
		border: 1px solid #dedede;
		background: #e5e5e5;
		padding: 10px;
		margin: 10px;
		float: left;
		background-color: aqua;
	}

	.middle{
		width: 500px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
		background-color: aqua;
	}
		.middle img{
			max-width: 100%;
			height: auto;
		}

		.middle a{
			font-weight: bold;
		}

	.right{
		width: 250px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
		background-color: aqua;
	}


	.right ul{
		list-style-type: none;
	}
	.right ul li{
		display: block;
	}
	.right ul li a{
		display: block;
		border-bottom: 1px solid #dedede;
		margin-bottom: 10px;
		padding: 10px 5px;
	}
	.right ul li a:hover{
		color: orange;
	}

.footer{
	clear: both;
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
	background-color:grey;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* untuk ukuran 1080px kebawah */
@media screen and (max-width: 1080px) {
	
	.container {
		width: 100%;
	}
	.left {
		width: 25%;
	}
	.middle {
		width: 68%;
		float: right;
	}
	
	.right {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
}


/* untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px) {
	
	.header, 
	.footer{
		text-align: center;
	}
	.left {
		width: auto;
		float: none;
	}
	
	.middle {
		width: auto;
		float: none;
	}
	
	.right {
		width: auto;
		float: none;
	}

}


